[Desktop Entry]
Name=OnionGajim
Categories=Network;InstantMessaging;GTK;GNOME;
Keywords=chat;messaging;tor;im;jabber;xmpp;bonjour;voip;
Comment=
Exec=sudo /usr/local/bin/onion-gajim
Icon=gajim
Terminal=true
Type=Application
